p {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.textInput {
    padding: 5px 5px;
    margin: 5px 5px;
    maxlength: 60;
    width: 90%;
    display: inline-table;
}

.textEndereco {
    width: 90%;
    height: 150px;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-table;
}