/* Semantic CSS applies Blueprint CSS positioning to your custom IDs.
   File saved as ISO-8859-1 encoding. 

   number of columns:24
   column width:30
   gutter width:10
   total width:950
   row height:18 px 
*/

#container {
    /* This is a Blueprint Container. Spans 24 columns. */
    width:950px;
    margin:0 auto;
    background:url(src/grid.png);
}


/* Begin descendants of container */
#ColunaA {
    /* Spans 10 columns. */
    float:left;
    width:390px;
    margin-right:10px;
}

#ColunaB {
    /* Spans 14 columns. */
    float:left;
    width:550px;
    margin-right:0;
}
/* End descendants of container */

